<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zone 3 OLE OEE</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>
<body> 
    <header>
        <!-- <img src="{{url_for('static', filename='./images/CTPL Logo.bmp')}}" alt=""> -->
        <!-- <img src="../static/images/logo0.png" class="logo" alt=""> -->
        <div class="bothlogo">
            <img src="../static/images/logo.svg" alt="logo" class="logo">
            <img src="../static/images/cylogo.png" alt="logo" class="logo">
        </div>
        <h1>Zone 3 OLE OEE</h1>
        <div class="zones">
            <button id="celldashboard" onclick="celldashboard()">Zone01 Analysis</button>
        </div>

    </header>
    <div class="dashboard">
        <div class="gotomodel">
           <button id="zone01oleoee" onclick="zone01oleoee()">Zone01 OLE/OEE</button>
            <button id="zone02oleoee" onclick="zone02oleoee()">Zone02 OLE/OEE</button>
        </div>
        <!-- Filters -->
        <div class="Stations">
            <Label><B>Select Your Station:</B></Label>
            <select name="stationName" id="stationName">
                <option value="BMS_Connection_OEE" selected>BMS_Connection_OEE</option>
                <option value="Bottom_Plate_Screw_Tight_OEE">Bottom_Plate_Screw_Tight_OEE</option>
                <option value="CWC_OEE">CWC_OEE</option>
                <option value="Housing_Insertion_Station_OEE">Housing_Insertion_Station_OEE</option>
                <option value="HRD_Test_Stn_OEE">HRD_Test_Stn_OEE</option>
                <option value="Laser_Marking_OEE">Laser_Marking_OEE</option>
                <option value="Leak_Testing_Station_OEE">Leak_Testing_Station_OEE</option>
                <option value="PCM_Filling_Station_OEE">PCM_Filling_Station_OEE</option>
                <option value="Top_Cover_Attach_OEE">Top_Cover_Attach_OEE </option>
                 <option value="Top_Cover_Closing_OEE">Top_Cover_Closing_OEE </option>
                <option value="Zone_03_OLE">Zone_03_OLE</option>
<!--                <option value="PDI_Station">PDI Station</option>-->
<!--                <option value="Top_Cover_Close_Stn">Top Cover Closing Station</option>-->
<!--                <option value="TopCover_Attach_Stn">Top Cover Attachment Station</option>-->
<!--                <option value="Weighing_Station">Weighing Station</option>-->
<!--                <option value="RoutinGlueingSt">Routing & Glueing Station </option>-->
                <!-- <option value="station8">Engraving on battery pack</option>
                <option value="station8">xxxxxxxxxxxxxxxxxxxxx</option>
                <option value="station8">xxxxxxxxxxxxxxxxxxxxx</option>
                <option value="station8">xxxxxxxxxxxxxxxxxxxxx</option> -->
            </select>
        </div>
        <div class="filters">
            <div class="eachfilter">
                <label for="startDateTime">Start DateTime:</label>
                <input type="datetime-local" id="startDateTime" >
                <br>
                <br>
                <label for="endDateTime">End DateTime:</label>
                <input type="datetime-local" id="endDateTime">
            </div>
                
<!--            <div class="eachfilter">-->

<!--                <label for="barcode">Barcode:</label>-->
<!--                <input type="text" id="barcode" placeholder="Enter Barcode">-->
<!--            </div>-->
<!--                          <div class="eachfilter">-->

<!--                <label>Shift:</label>-->
<!--                <select id="shift" >-->
<!--                    <option value="">All</option>-->
<!--                    <option value="A">A</option>-->
<!--                    <option value="B">B</option>-->
<!--                    <option value="C">C</option>-->
<!--                </select>-->
<!--            </div>-->
        </div>
        <div class="titletabels">
            <!-- Export Button -->
            <button id="searchBtn" class="btn-search">🔍 Search</button>
            <button id="exportBtn">Download Excel</button>
        </div>
                <!-- Logo Progress Loader -->
        <div id="logoProgress" class="logo-progress" style="display:none;">
            <img src="../static/images/logo.png" alt="logo">
            <div class="ring"></div>
            <!-- <div id="progressText" class="progress-text">0%</div> -->
        </div>
        <!-- Tables for Data Counts -->
<!--        <div class="tables-containers">-->
<!--                        &lt;!&ndash; NG Cells Table &ndash;&gt;-->
<!--            <table class="stats-table">-->
<!--                <thead>-->
<!--                    <tr><th>Total</th><th>Count</th></tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr><td>Total</td><td id="total">0</td></tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--            &lt;!&ndash; OK Cells Table &ndash;&gt;-->
<!--            <table class="stats-table">-->
<!--                <thead>-->
<!--                    <tr><th>OK  Report</th><th>Count</th></tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr><td>Total OK</td><td id="totalok">0</td></tr>-->
<!--                </tbody>-->
<!--            </table>-->

<!--            &lt;!&ndash; NG Cells Table &ndash;&gt;-->
<!--            <table class="stats-table">-->
<!--                <thead>-->
<!--                    <tr><th>Total NG</th><th>Count</th></tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr><td>Total NG </td><td id="totalng">0</td></tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
        <!-- Filtered Data Table -->
        <h2>Filtered Data</h2>
        <!-- Pagination Info -->
        <div id="paginationControls" class="pagination-controls">
            <button id="prevPage">⬅ Prev</button>
            <span id="pageInfo">Page 1 of 1</span>
            <button id="nextPage">Next ➡</button>
        </div>
        <div class="table-container">
            <table id="dataTable">
                
            </table>
        </div>


    </div>

    <!-- <script src="../static/js/script.js"></script> -->
    <script src="{{ url_for('static', filename='./js/zone03_OLE_OEE.js') }}"></script>
</body>
</html>
